/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(66, 118, 223);
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  /* width: 400px;
   height: 300px; */
  text-align: center;
  padding: 10px;
  margin: 50px 0px 50px 0px;
  border: 2px solid rgb(166, 78, 15);
  box-shadow: 2px 2px 6px 2px rgb(27, 27, 28), 6px 6px 0px 0px rgb(217, 4, 4);
}
input::placeholder {
  color: rgb(218, 214, 214);
}
#queryList {
  background: rgb(136, 117, 242);
}
#counter {
  background: rgb(63, 226, 74);
}
#emptyMsg {
  /* margin-bottom: 100px; */
  color: white;
  background: rgb(243, 62, 62);
}
.containerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(202, 168, 79);
  padding: 10px;
}
#ulContainer {
  padding: 10px;
}
.textResultat {
  position: relative;    /* nécessaire pour que ::after se place par rapport au h4 */
  display: inline-block; /* pour que la ligne suive la largeur du texte */
}
.textResultat::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* espace sous le texte */
  width: 100%;
  height: 2px;
  background: rgb(160, 99, 63);
  box-shadow: 2px 2px 10px 0.5px rgb(237, 237, 188);
}
